* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div {
    display: block;
}

html {
    height: 100%;
}

header {
    overflow: hidden;
}

body {
    position: relative;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #DEDEDE;
    font-size: 16px;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

body .full-page {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
    padding: 35px 0;
}

.none-active {
    font-size: 14px;
    font-weight: bold;
}

.slt-language {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.fa-align-justify {
    margin-top: -7px;
    float: right;
    font-size: 25px;
}

header .logo {
    float: left;
}

header .slt-language .actived-language {
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    opacity: 1;
    color: #fc8804;
}

header li {
    display: inline-block;
    position: relative;
}

.row h1 {
    line-height: 40px;
    font-size: 36px;
    margin-left: 10px;
}

#filter_section {
    font-weight: bold;
}

.row {
    padding: 40px 0;
    margin-bottom: -25px;
}

#tab {
    font-size: 30px;
    color: #F89521;
    display: block;
    padding: 15px 0px;
    font-weight: bold;
}

.menu{
    height: auto;
}




